{%extends 'blogs/base.html' %}

{%block 'title'%}
News
{%endblock%}

{%block 'style'%}
<style>
    body {
  --btn-color: rgb(2, 122, 220);
  --bg-color: #121212;
  padding: 15px;
  margin: 0;
  display: grid;
  background-color: var(--bg-color);
}

.card-container {
  display: grid;
  grid-gap: 45px;
  min-width: 700px;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
.card-container a {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 40px 10px;
  color: var(--btn-color);
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s linear;
  letter-spacing: 4px;
  text-align: center;
  width: 144px;
  height: 240px;
}
.card-container a.card1 {
  perspective: 1000px;
  z-index: 10;
}
.card-container a.card1:hover .card-inner {
  transform: rotateY(180deg);
}
.card-container a.card1 .card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card-container a.card1 .card-back,
.card-container a.card1 .card-front {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card-container a.card1 .card-front {
  background-color: var(--bg-color);
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  z-index: -1;
}
.card-container a.card1 .card-back {
  background-color: var(--btn-color);
  color: var(--bg-color);
  transform: rotateY(180deg);
  box-shadow: 0 0 5px var(--btn-color), 0 0 25px var(--btn-color),
    0 0 50px var(--btn-color), 0 0 200px var(--btn-color);
}
</style>
{%endblock%}

{%block 'content'%}
<div class="card-container">
    <a class="card1">
      <div class="card-inner">
        <div class="card-back">Salom Mening Ismim Ahrorbek</div>
        <div class="card-front">Ahrorbek</div>
      </div>
    </a>
  </div>
{%endblock%}
